.contact-section {
    background-color: hsl(243, 87%, 12%);

}
.started-section {
    background-color: hsl(238, 22%, 44%);
}


/*Laptop view Important*/
@media (min-width: 1024px) {
    .text {
        width: 70%;
    }
}
