.contact-section {
    background-color: hsl(243, 87%, 12%);

}
.started-section {
    background-color: hsl(238, 22%, 44%);
}

.talk-section {
    background: url(../img/istockphoto-639637280-170667a.jpg) no-repeat center;
    background-size: cover;
    opacity: 1;
}

/*Laptop view Important*/
@media (min-width: 1024px) {
    .text {
        width: 70%;
    }
}
